.about {
    margin-bottom: 100px;
    .wrapper {
        background: white;
    }
    .about-title {
        border: 1px solid $lily-white;
        border-bottom-style: dashed;
        padding: 70px 0 30px 50px;
        position: relative;
        h2 {
            font-family: $montserrat;
            font-size: 3rem;
            color: $mineshaft;
            margin-bottom: 30px;
        }
    }
    .about-content {
        display: flex;
        justify-content: space-between;
        border: 1px solid $lily-white;
        border-top: none;
    }
    .about-details {
        width: 60%;
        padding: 50px;
        font-size: 1.3rem;
        font-family: $ptserif;
        color: $title-details;
        letter-spacing: 0.6px;
        line-height: 1.9rem;
        h3 {
            font-size: 1.9rem;
            font-family: $montserrat;
            color: $mineshaft;
            margin: 30px 0;
        }
        p {
            margin-bottom: 25px;
        }
        a {
            color: $title-details;
            border-bottom: 1px dotted $title-details;
            &:hover, &:focus {
                color: $yellow;
                border-bottom-color: $yellow;
            }
        }
    }
    .about-img {
        width: 40%;
        padding: 50px;
        img {
            border-radius: 2px;
        }
    } 
}

@media (max-width: 640px) {
    .about {
        .about-details {
            width: 100%;
        }
        .about-img {
            display: none;
        }
    }
}