.content.category {
    float: left;
    width: calc(70% - 50px);
    margin: 0 50px 100px 0; //TRBL
}

article {
    margin-bottom: 30px;
    .title-details {
        border: 1px solid $lily-white;
        border-bottom-style: dashed;
        padding: 70px 0 30px 50px;
        background: white;
        h2 {
            font-family: $montserrat;
            font-size: 3rem;
            color: $mineshaft;
            margin-bottom: 30px;
        }
        span {
            text-transform: uppercase;
            color: $title-details;
            font-family: $montserrat;
            &:first-of-type {
                color: $yellow;
            }
        }
        span::after {
            content: "\2219";
            margin: 0 10px;
        }
        span:last-of-type::after {
            content: none;
        }
    } 
    .entry-content {
        padding: 30px 50px;
        padding-left: none;
        border: 1px solid $lily-white;
        border-top: none;
        border-bottom-style: dashed;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            figure {
                width: calc(50% - 10px);
                margin: 5px;
            }
        }
        .post-img {
            width: 95%;
            img {
                width: 100%;
                height: auto;
                border-radius: 2px;
            }
        }
        .post-text {
            width: 95%;
            margin: 20px 0;
            color: $title-details;
            font-family: $ptserif;
            font-size: 1.3rem;
            letter-spacing: 0.6px;
            line-height: 2rem;
            p {
                margin: 12.5px 0;   
            }
        }
    }  
    .cat-tags {
        border: 1px solid $lily-white;
        border-top: none;
        padding: 70px 0 70px 50px;
        background: white;
        p {
            font-family: $montserrat;   
            font-size: 1.1rem;
            color: $jumbo;
            letter-spacing: 0.6px;
            line-height: 2rem;
            a {
                color: $jumbo;
                border-bottom: 1px dotted $jumbo;
                &:hover, &:focus {
                    color: $yellow;
                    border-color: $yellow;
                }   
            }
        }
    } 
}
