.wpcf7-response-output {
    color: $jumbo;
    font-family: $montserrat;
    border-radius: 2px;
    font-size: 1.6rem;
    background: $lily-white;
}

div.wpcf7-mail-sent-ok {
    border: 1px solid $lily-white;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 20px;
}