// COLOURS
$mineshaft: #333333;
$yellow: #fdb566;
$dark-yellow: #e4a25b;
$jumbo: #888888;
$tin: #7e7e7e;
$dim-gray: #686868;
$title-details: #8c8c8c;
$light-gray: #909090;
$lily-white: #eaeaea;
$body-gray: #f8f8f8;
$transparent-white: rgba(255, 255, 255, 0.8);

// FONTS
$montserrat: 'Montserrat', sans-serif;
$ptserif: 'PT Serif', serif